.popuptext {
    border: 3px solid white;
    flex-direction: column;
    display:flex;
  
  background-color: #c8defa;
  color: #000000;
  text-align: center;
  width: 40vw;
  height: 80vh;
  border-radius: 5px;
  position:fixed;
    top:50%;
    left:50%;
  transform: translate(-50%, -50%);
  z-index:1;

}

#sprite-area {
    height: 50vh;  
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#robot_sad {
  max-height: 100%;
  max-width: 100%;
}
#menu-bar {
    width:40vw;
    height:30vh;
    background-color:#779eb2;
    z-index:1;
    display:flex;
    border: 3px solid white;
    border-radius: 5px;
    
}

#remove-part {
    max-height:50px;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #365563;
    cursor: pointer;
    z-index: 3;
}

.dialogue {
    align-items: center;
}
.buttons button {
    background-color: #223e4c;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  align-items:center;
}

#stats ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;

}

#parts ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

#info {
    z-index:2;
    margin-top:auto;
    border-left: 3px solid white;
    border-radius:5px;
}

#stats, #parts {
    height: 15vh;
    width: 13vw;
    background-color: #608da2;
    z-index:2;
    margin-top:auto;
    margin-left:auto;
}


.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}



.intro {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.mazePopup-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

ul.selected {
  background-color: #ffeb3b;
  cursor: pointer;
}
ul {
  cursor: pointer;
  padding: 5px;
  margin: 2px 0;
  
  list-style: none;
}
