body {
    background-color: rgb(158, 158, 158);
    color: white;
    font-family: "Quicksand"
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  
}

#sprite-area {
    height: 50vh;  
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#robot_sad {
  max-height: 100%;
  max-width: 100%;
}
#menu-bar {
    width:40vw;
    height:30vh;
    background-color:#779eb2;
    z-index:1;
    display:flex;
    border: 3px solid white;
    border-radius: 5px;
    
}

#remove-part {
    max-height:50px;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #365563;
    cursor: pointer;
    z-index: 3;
}

.dialogue {
    align-items: center;
}
.buttons button {
    background-color: #223e4c;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  align-items:center;
}

#stats ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;

}

#parts ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

#info {
    z-index:2;
    margin-top:auto;
    border-left: 3px solid white;
    border-radius:5px;
}

#stats, #parts {
    height: 15vh;
    width: 13vw;
    background-color: #608da2;
    z-index:2;
    margin-top:auto;
    margin-left:auto;
}

.popup .popuptext {
    border: 3px solid white;
    flex-direction: column;
    display:flex;
  
  background-color: #c8defa;
  color: #000000;
  text-align: center;
  width: 40vw;
  height: 80vh;
  border-radius: 5px;
  position:fixed;
    top:50%;
    left:50%;
  transform: translate(-50%, -50%);
  z-index:1;

}



/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  
}

.popup .hide {
  visibility: visible;
  
}

ul.selected {
  background-color: #ffeb3b;
  cursor: pointer;
}
ul {
  cursor: pointer;
  padding: 5px;
  margin: 2px 0;
  
  list-style: none;
}
