<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Website Website</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand">
    <link rel="stylesheet" href="./../static/styles.css">

    <style>
        body {
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="content-wrapper">
        <div class="profile">
            <img src="./../static/robot_sad.png" class="profile-image">
            <span id="character">{{gamestate.character}}</span>
        </div>
        <div class="container">
            <div class="flavortext">
                {{gamestate.quote}}
            </div>
            {% for option in gamestate.options %}
                <div class="option" onclick="trigger('{{option.option}}')">
                    {{option.text}}
                </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>