<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="./../static/homepage.css">

  <style>
    .robot-button-image {
      width: 100px;
      height: 100px
    }

    #robot-grid {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5rem;
      height: 50vh;
    }
  </style>
  <title>ROBOTS</title>
</head>

<body>

  <h1>Robot Game :]</h1>
  <div id="inventory">
    <h3>Inventory</h3>
    <ul id="inventory-list">
      <!-- Removed parts will appear here -->
    </ul>
  </div>

  <div id="robot-grid">


    <button onclick="openRobotPopup(1)">
      <img class="robot-button-image" src="./../static/robot-placeholder.png" alt="Robot">
    </button>

    <button onclick="openRobotPopup(2)">
      <img class="robot-button-image" src="./../static/robot-placeholder.png" alt="Robot">
    </button>

    <button onclick="openRobotPopup(3)">
      <img class="robot-button-image" src="./../static/robot-placeholder.png" alt="Robot">
    </button>

    <button onclick="openRobotPopup(4)">
      <img class="robot-button-image" src="./../static/robot-placeholder.png" alt="Robot">
    </button>

  </div>

  <div id="robotPopup" class="popup">
    <div class="popuptext" id="myPopup">
      <div class="sprite-area" id="sprite-area">
        <img src="./../static/robot_sad.png" id="robot_sad">
      </div>

      <div class="menu-bar" id="menu-bar">
        <div class="left-panel">
          <div class="dialogue" id="dialogue">
            <em>This robot looks a little down... Maybe some sunlight
              will help them feel better!</em>
          </div>

          <div class="buttons">
            <button class="remove_part" id="remove_part">
              Remove Part
            </button>
            <button class="install_part" id="install_part">
              Install Part
            </button>
          </div>

        </div>
        <div class="info" id="info">
          <div class="parts" id="parts">
            <strong>Parts</strong>
            <ul>
              <li data-part="solar-panels">Solar Panels</li>
              <li data-part="water-filtration">Water Filtration</li>
              <li data-part="solar-battery">Solar Battery</li>
            </ul>
          </div>

        </div>
        <div class="close-btn" id="close-btn" onclick="closePopup()">
          <span class="close" onclick="closePopup()">&times;</span>
          <i class="fa-solid fa-x"></i>
        </div>

      </div>



    </div>
  </div>

  <div id="introPopup" class="intro">
    <div class="popup-content">
      <span class="close" onclick="closeIntro()">&times;</span>
      <h2>Welcome!!!!!!</h2>
      <p>Click on Robots and Stuff</p>
    </div>
  </div>

  <div id="minigame"></div>


  <template id="match-template">
    {% include "minigameMatch.html" %}
  </template>
  <template id="maze-template">
    {% include "minigameMaze.html" %}
  </template>
  <template id="popit-template">
    {% include "minigamePopIt.html" %}
  </template>
  <template id="val-template">
    {% include "minigameVal.html" %}
  </template>
  <template id="hi-template">
    {% include "minigameHi.html" %}
  </template>
  <script src="./../static/homepage.js"></script>
</body>

</html>