<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Website Website</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand">
  <link rel="stylesheet" href="./../static/styles.css">

  <script>
    function trigger(option) {
      console.log("test");
      const minigames = ["match-template", "maze-template", "popit-template"];
      const randomMinigame = minigames[Math.floor(Math.random() * minigames.length)];
      console.log(randomMinigame);

      console.log("triggered " + option);
      if (option === "minigame") {
        document.getElementById("minigame").classList.add("active");
        const template = document.getElementById(randomMinigame);
        const clone = template.content.cloneNode(true);

        const container = document.getElementById("minigame");
        container.innerHTML = "";
        container.appendChild(clone);
      } else {
        window.location.href = `/?action=${option}`
      }
    }
  </script>
</head>

<body>
    {% with gamestate=gamestate %}
		{% include "chooseEvent.html" %}
    {% endwith %}
  <div id="minigame"></div>
  <template id="match-template">
    {% include "minigameMatch.html" %}
  </template>
  <template id="maze-template">
    {% include "minigameMaze.html" %}
  </template>
  <template id="popit-template">
    {% include "minigamePopit.html" %}
  </template>
</body>

</html>