<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Website Website</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand">
  <link rel="stylesheet" href="./../static/styles.css">

  <script>
    function trigger(option) {
      console.log("triggered " + option);
      if (option === "minigame") {
        document.getElementById("minigame").classList.add("active");
        const template = document.getElementById("minigame-template");
        const clone = template.content.cloneNode(true);

        const container = document.getElementById("minigame");
        container.innerHTML = "";
        container.appendChild(clone);
      }
    }
  </script>
</head>

<body>
    {% with gamestate=gamestate %}
		{% include "chooseEvent.html" %}
    {% endwith %}
  <div id="minigame">
  </div>
  <template id="minigame-template">
      {% include "minigameMatch.html" %}
  </template>
</body>

</html>