<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="/static/minigameVal.css">


</head>
<body>

<h1>Reunite the robots with their Valentines!!!❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️</h1>

<p>Drag the robots to their partners❤️❤️❤️❤️❤️❤️❤️❤️❤️</p>

<div class="partners">
  <div id="div1" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)">
    <img src="happy_dress.png" width="100px" height="auto">
  </div>
  <br>
  <div id="div2" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)">
    <img src="happy_tux.png" width="100px" height="auto">
  </div>
  <br>
  <div id="div3" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)">
    <img src="happy_dress.png" width="100px" height="auto">
  </div>
  <br>
  <div id="div4" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)">
    <img src="happy_tux.png" width="100px" height="auto">
  </div>
  <br>
</div>
<img id="img1" src="./../static/robot_sad.png" draggable="true" ondragstart="dragstartHandler(event)" width="auto" height="100px">
<br>
<img id="img2" src="./../static/robot_sad.png" draggable="true" ondragstart="dragstartHandler(event)" width="auto" height="100px">
<br>
<img id="img3" src="./../static/robot_sad.png" draggable="true" ondragstart="dragstartHandler(event)" width="auto" height="100px">
<br>
<img id="img4" src="./../static/robot_sad.png" draggable="true" ondragstart="dragstartHandler(event)" width="auto" height="100px">



<script src="/static/valentineminigame.js"></script>
</body>
</html>

