{% extends "minigameTemplate.html" %}

{% block minigame %}

<link rel="stylesheet" href="/static/minigameVal.css">




<h1>Reunite the robots with their Valentines!!!❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️</h1>

<p>Drag the robots to their partners❤️❤️❤️❤️❤️❤️❤️❤️❤️</p>

<div class="partners">
  
  <div id="div4" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)">
    <img src="./../static/happy_tux.png" width="100px" height="auto">
  </div>
  <br>
</div>
<img id="img1" src="./../static/robot_sad.png" draggable="true" ondragstart="dragstartHandler(event)" width="auto" height="100px">
<br>




<script src="/static/valentineminigame.js"></script>


{% endblock %}

